.regresarPagina {
	color: black;
	text-decoration: none;
    font-weight: bolder;
}

.cuerpo{
    max-width: 900px;
    margin: calc(var(--space-unit) * 5) auto 0;
    padding-left: 20%;
    padding-bottom: 90px;
}

.contenedor_Principal{
	background-color: white;
    color: var(--dark-color);
	position: relative;
	margin-top: 50px;
    width:60%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.contenedor_Principal > h2{
    padding-top:20px ;
    padding-bottom: -40px;
}

.contenedor_Principal > select {
	background-color: var(--bg-tag-color);
	padding: 9px;
    border-radius: 9px;
	border: none;
	color: var(--dark-color);
    
}

.contenedor_Principal > img {
	background-image: var(--main-gradiente);
    padding: calc(var(--space-unit) * 1.5);
    position: absolute;
	top: -30px;
	border-radius: 100%;
	width: 7%;

}

::placeholder{
    text-align: justify;
	color: black;
	font-weight: lighter;
}

.contenedor_Principal > .ultimo_input{
    height: 100px;
}

.contenedor_Principal > label {
	font-size: 16px;
}

.contenedor_Principal > h2 {
	margin-bottom: 35px;
	margin-top: 35px;
}

.contenedor_Principal > input {
    color: var(--dark-color);
	background-color: var(--bg-tag-color);
    margin-top: 20px;
	border-radius:8px;
	border: none;
	padding: var(--space-unit);

}

.btn {
  font-size: var(--text-sm);
  border-radius: calc(var(--space-unit) * .5);
  height: 30%;
  border: none;
  color: white;
  font-weight: bold;
  padding: 13px 13px;
  cursor: pointer;
  
}

.botones_abajo {
	display: flex;
	margin-top: 30px;
	column-gap: 8px;
}

.botones_abajo > .btn-danger {
	margin-right: auto;
}

.btn-primary {
	background-color: var(--doing-color);
}

.btn-secondary {
	background-color: var(--dark-color);
}

.btn-danger {
	background-color: var(--warning-color);
}

.contenedor_Principal > h2{
    padding-top:20px ;
    padding-bottom: -40px;
}

.label_options{
	padding-bottom: 10px;
}